*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/background.jpg);
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    font-size: 14px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: #1d1a52;;
    font-family: 'Cedarville Cursive', cursive;
}

.iphoneImg{
    z-index: 0;
    width: 80%;
    min-width: 400px;
    max-width: 800px;
    margin-right: 100px;
}

.form1{
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    height: 80%;
}

.addContactButton{
    align-self: center;
    margin-top: auto;
}

.iphoneImgDiv{
    position: relative;
}

.iphoneDiv{
    position: absolute;
    z-index: 1;
    top: 53%; left: 56%;
    transform: translate(-50%, -50%);
    rotate: -10deg;
    height: 70%;
}

.contactDiv{
    width: 100%;
    margin-block: 0.5vw;
}

.modifierPng{
    width: 15px;
}

button{
    background: none;
    border: 0px;
    width: 5%;
}

@media (min-width: 500px) { 
    .iphoneDiv{
        position: absolute;
        z-index: 1;
        top: 53%; left: 56%;
        transform: translate(-50%, -50%);
        rotate: -10deg;
    }
    .iphoneImg{
        z-index: 0;
        width: 80%;
        margin-right: 100px;
    }
    .contactDiv{
        width: 100%;

    }
    .main{
        /* font-size: calc(1em + 0.2vw); */
       font-size: clamp(1em, 3vw, 1.4rem);
    }
    
}