*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/background.jpg);
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

.iphoneImg{
    width: 80%;
    position: absolute;
    z-index: 0;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);

}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.searchbar{
    border-radius: 2px;
    border: 0px;
    background-color: rgb(44, 44, 44);
}

.iphoneDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}

.form1{
    display: flex;
    flex-direction: column;
    position: relative;
}